  <h1>Contact</h1>
<div class="main">

    <div id="contact">
    <%= form_for(@contact) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :required =>true, placeholder: "Your Name"%>

      <%= f.label :email %>
      <%= f.email_field :email, :required => true, placeholder: "Your Email" %>

      <%= f.label :message %>
      <%= f.text_area :message, :required => true %>
      
     <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave blank else you are a robot!' %>
     </div>
     <br>
      <%= f.submit "Send Message", class: "btn btn-primary" %>
    <% end %>
    </div>

</div>