<header class="navbar navbar-default ">
      <div class="container">
         <%= link_to "GigaPan Education", root_path, id: "logo" %>
        <nav>
          <ul class="nav nav-pills navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
            <% end %>
            <% if user_signed_in? %>
            <% if current_user.has_role?(:admin) %>
            <li><%= link_to "Admin", rails_admin_path %></li>
            <% end%>
            <% end%>
            <li><%= link_to "Contact",   contact_path %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>
        </nav>
      </div>
    </header>