<!DOCTYPE html>
<html>
<head>
  <title>Gigapan Education</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>
  <%= render 'layouts/header' %>
    
    <div class="container">
      <%= render 'layouts/user_widget' unless url_for == new_user_session_path %>
      <%= yield %>
    </div>
<%= render 'layouts/footer' %>
</body>
</html>