<p id="notice"><%= notice %></p>

<h1>Schools and Teachers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.group_by(&:country).sort.each do |country, organizations| %>
      <div id="country">
        <h2><%= country %></h2>
          <% for organization in organizations %>
            <b><%= link_to organization.name, organization %></b><br>
            <% organization.users.each do |user| %>
              <% if user.has_role?(:teacher) %>
              <% @name = user.first_name.to_s() +" "+ user.last_name.to_s() %>
                <li><%= link_to @name, user %></li>
              <% end %>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
