<%= form_for(@user) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
    <%= f.hidden_field :organization, :value => current_user.organization %>
    <%= f.hidden_field :email, :value => current_user.email %>
    <%= f.hidden_field :role_id, :value => '1' %>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>