  <%= form_for @user,  multiple: true do |f| %>
  <div class="field">
    <%= f.text_field :username, placeholder: "name" %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "email" %>
  </div>
  <span class="picture">
    <%= f.file_field :avatar %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
