<h1>Profile: <%= @user.first_name%> <%=@user.last_name%></h1>
<div class="main">
  <div class="row">
  <div class="col-md-3">  
    <%= if @user.avatar? 
      image_tag @user.avatar.url.to_s
      else image_tag 'default_avatar.jpg'
      end%></div>
  <div class="col-md-9"> 
  <div class="topbar">
  <% if @user.has_role?(:student) %>
  <h2> <%= @user.first_name%> <%=@user.last_name%> a student from <%=@user.organization.name%>, <%=@user.organization.city%>, <%=@user.organization.state%>, <%=@user.organization.country.name%></h2>
  <%else%>
    <h2> <%= @user.first_name%> <%=@user.last_name%> from <%=@user.organization.name%>, 
    <%=@user.organization.city%>, <%=@user.organization.state%>, 
    <%=@user.organization.country.name%></h2>

    <p><%= mail_to @user.email,  @user.email %></p>
    <% if @user.cont_area? %>
    <p>Content Area: <%= @user.cont_area%></p>
    <%end%>
  <%end%>
   </div>
   </div>
   </div>
  <div class="row">
  <div class="col-md-3">
    </div>
    <div class="col-md-9">
<div class="row">
        <h2>Current Projects</h2>
        <% if @user.projects.where("active = 1").size == 0 %>
          No projects
        <% else%>
          <% @user.projects.find_each do |project| %>
            <% if project.active && project.visible %>
        <div class="col-sm-8">
          <h3><%= link_to  project.name, project %> </h3>
          <p><%= project.desc %></p>
        </div>
        <div class="col-sm-4">
          <div class="dash-gig">
            <% @thumbwidth = 176 %>
              <% project.project_gigapans.take(3).each do |gigapan| %>
              <div class="gig-thumb">
                  <!--Depending on whether or not the gigapan is private, the code used to access it is different.-->
                  <% if gigapan.private %>
                      <% @gig_id = gigapan.authcode %>
                  <% else %>
                      <% @gig_id = gigapan.ext_id %>
                  <% end %>
                  
                  <!--height is calculated dynamically to fit the width dimensions-->
                  <% @height = gigapan.height*@thumbwidth/gigapan.width %>
                  <!--grabs the gigapan thumbnail from gigapan.com based on the gigpan's information-->
                  <%= link_to image_tag("http://api.gigapan.org/beta/gigapans/#{@gig_id}-#{@thumbwidth}x#{@height}.jpg", height: "#{@height}", width: "#{@thumbwidth}"), gigapan%><br>
                </div>
                <% end %>
          </div>
          </div>
              <% end %>
          <% end %>
        <% end %>
        
      </div>
  </div>
 
</div>
</div>
</div>