<h1>Profile: <%= @user.first_name%> <%=@user.last_name%></h1>
<div class="main">
  <div class="row">
  <div class="col-md-3">  
  <%= image_tag @user.avatar.url.to_s if @user.avatar? %></div>
  <div class="col-md-9"> 
  <div class="topbar">
  <% if @user.has_role?(:student) %>
  <h2> <%= @user.first_name%> <%=@user.last_name%> a student from place, location</h2>
  <%else%>
    <h2> <%= @user.first_name%> <%=@user.last_name%> from place, location</h2>
    <p><%= mail_to @user.email,  @user.email %></p>
    <% if @user.cont_area? %>
    <p>Content Area: <%= @user.cont_area%></p>
    <%end%>
  <%end%>
  </div>
  <div class="projects">
    <h2>Current Projects</h2>
    <p>I'm a big long list of projects</p>
  </div>
  </div>
</div>
</div>
</div>