<h1>Profile: <%= @user.first_name%> <%=@user.last_name%></h1>
<div class="main">
  <div class="row">
  <div class="col-md-3">  
    <%= if @user.avatar? 
      image_tag @user.avatar.url.to_s
      else image_tag 'default_avatar.jpg'
      end%></div>
  <div class="col-md-7"> 
  <div class="topbar">
  <% if @user.has_role?(:student) %>
  <h2> <%= @user.first_name%> <%=@user.last_name%> a student from <%=@user.organization.name%>, <%=@user.organization.city%>, <%=@user.organization.state%>, <%=@user.organization.country%></h2>
  <%else%>
    <h2> <%= @user.first_name%> <%=@user.last_name%> from <%=@user.organization.name%>, <%=@user.organization.city%>, <%=@user.organization.state%>, <%=@user.organization.country%></h2>
    <p><%= mail_to @user.email,  @user.email %></p>
    <% if @user.cont_area? %>
    <p>Content Area: <%= @user.cont_area%></p>
    <%end%>
  <%end%>
   </div>
  <div id="projects">
    <h2>Current Projects</h2>
    <% if @user.projects.size == 0 %>
      No projects
    <% else%>
      <% @user.projects.each do |project| %>
          <%= link_to  project.name, project %> <br>
         <br>
      <% end %>
    <% end %>
  </div>
 
</div>
</div>
</div>