<h2>Adding Students</h2>
<div class="main">

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h4><%= f.label "Students" %>:</h4>
  <div class="field">
    <% @students = User.includes(:roles,:organization).where('roles.name = ? AND organizations.name = ?', 'student', current_user.organization.name).references(:roles,:organization) %>
    <%= f.collection_check_boxes(:user_ids, @students, :id, :username, {}, :multiple => true) do |b| %>
       <div class="row">
    <%= b.label(class: "check_box") do %>
      <div class="col-xs-3">
        <%= b.check_box(class: "check_box") %>
      </div>

      <div class="col-xs-9">
        <% @user = User.find(b.value) %>
         <%= b.object.username %>
        <img class="flag <%=@user.organization.country.iso_code.downcase%>" src="/assets/blank.gif">
      </div>       
    <% end %>
  </div>
<% end %>
    <% @teachers = User.includes(:roles,:organization).where('roles.name = ? OR organizations.name != ?', 'teacher', current_user.organization.name).references(:roles,:organization) %>
    <%= f.collection_select :user_ids, @teachers, :id, :username, {}, :multiple => true, :style => "display: none;" %>
    

  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
</div>