<p id="notice"><%= notice %></p>

<%= link_to 'Back', projects_path %>

<h1><%= @project.name %></h1>

<% if current_user && current_user.has_role?(:teacher) || current_user.has_role?(:admin)%>
    <%= link_to 'Edit Project', edit_project_path(@project) %> <br> <br>
<%end%>

Teachers:<br>
<% @project.users.each do |user| %>
    <% if user.has_role?(:teacher) %>
          <tr>
            <%= link_to  user.username, user %><br>
          </tr>
    <% end %>
<% end %>

<% if current_user.has_role?(:admin)%>
    <%= link_to  'Add teachers', add_teachers_path(project: @project)%><br> <br>
<%end%>

Students:<br>
<% @project.users.each do |user| %>
    <% if user.has_role?(:student) %>
          <tr>
            <%= link_to  user.username, user %><br>
          </tr>
    <% end %>
<% end %>

<% if current_user.has_role?(:teacher) || current_user.has_role?(:admin)%>
   <%= link_to "Add students", add_students_path(project: @project)%><br> <br>
<%end%>