<!--<p id="notice"><%= notice %></p>-->

<%= link_to 'Back', projects_path %>

<h1><%= @project.name %></h1>

<% if current_user && current_user.has_role?(:teacher) || current_user.has_role?(:admin)%>
    <%= link_to 'Edit Project', edit_project_path(@project) %> <br> <br>
<% end %>
<p><%= @project.desc %></p>

Teachers:<br>
<% @project.users.each do |user| %>
    <% if user.has_role?(:teacher) %>
          <tr>
              <% @name = user.first_name.to_s() +" "+ user.last_name.to_s() %>
                <li><%= link_to @name, user %></li>
          </tr>
    <% end %>
<% end %>
    <% if @project.active %>
    <% if current_user.has_role?(:admin)%>
        <%= link_to  'Add teachers', add_teachers_path(project: @project)%><br> <br>
    <% end %>
<% end %>

Students:<br>
<% @project.users.each do |user| %>
    <% if user.has_role?(:student) %>
          <tr>
            <% @name = user.first_name.to_s() +" "+ user.last_name.to_s() %>
                <li><%= link_to @name, user %></li>
          </tr>
    <% end %>
<% end %>
<% if @project.active %>
    <% if current_user.has_role?(:teacher) || current_user.has_role?(:admin)%>
       <%= link_to "Add students", add_students_path(project: @project)%><br> <br>
    <% end %>
<% end %>

<% @project.project_gigapans.each do |gigapan| %>
    <%= link_to gigapan.name, gigapan %><br>
<% end %>