<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label "Comment" %>
    <%= f.text_area :content, placeholder: "Comment" %>
  </div>
    <%= f.hidden_field :project_gigapan_id, :value => @project_gigapan.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :x_coord %>
    <%= f.hidden_field :y_coord %>
    <%= f.hidden_field :width %>
    <%= f.hidden_field :height %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
