<%= form_for(@project_gigapan) do |f| %>
  <% if @project_gigapan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_gigapan.errors.count, "error") %> prohibited this project_gigapan from being saved:</h2>

      <ul>
      <% @project_gigapan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
    <div class="field">
    <%= f.label "Description" %>
    <%= f.text_field :desc, placeholder: "Description" %>
  </div>
  <div class="field">
    <%= f.label "Url" %>
    <%= f.text_area :url, placeholder: "http://gigapan.com/gigapans/00000" %>
    <%=hidden_field_tag :ext_id%>
    <%=hidden_field_tag :authcode%>
    <%=hidden_field_tag :width%>
    <%=hidden_field_tag :height%>
    <%=hidden_field_tag :private%>
    <!--<%=hidden_field_tag :project_id%>-->
    
  </div>
  <%=f.hidden_field(:project_id, :value => params[:project_id])%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
