<%= link_to 'Back', @project_gigapan.project %>

<h3><%=@project_gigapan.name%></h3>
<p><%=@project_gigapan.desc%></p>

<%= javascript_tag do %>
      var SNAPSHOT_TOOL_CONFIG = {
         aspectRatio : 4 / 3,       
         useMask : true         
      };
  var gigapan = {
         "id" : <%= @project_gigapan.ext_id%>,
         <% if @project_gigapan.authcode == "null"%>
         "authKey" : <%=@project_gigapan.authcode%>,
         <% else %>
         "authKey" : "<%=@project_gigapan.authcode%>",
         <%end%>
         "width" : <%=@project_gigapan.width%>,
         "height" : <%=@project_gigapan.height%>
      };
      
    var snapshots = {<% @project_gigapan.comments.each do |comment| %>
     "<%= comment.id %>" : {"y" : <%= comment.y_coord%>, "x" : <%=comment.x_coord%>, "width" : <%=comment.width%>, "height" : <%=comment.height%>, "id" :  <%= comment.id %>}<%if comment == @project_gigapan.comments.last %><%else%>,<%end%><%end%>
    };
    var highlighters = new Array();
var isShowAllSnapshotsEnabled = false;

      var viewer = null;
      var coords;

      $(document).ready(function() {

         // configure Seadragon
         Seadragon.Config.imageLoaderLimit = 6;             // max number of concurrent image downloads
         Seadragon.Config.autoHideControls = false;     
         Seadragon.Config.imagePath = "/assets/img/";

         // create and initialize the viewer
         viewer = new Seadragon.Viewer("gigapan_viewer");
         viewer.setDashboardEnabled(true);


         // disable click to zoom
        viewer.tracker.clickHandler = null;

         // create the snapshot tool
         var snapshotTool = new org.gigapan.snapshot.SnapshotTool(viewer, SNAPSHOT_TOOL_CONFIG);
         snapshotTool.setGigapanDimensions(gigapan.width, gigapan.height);
         snapshotTool.setVisible(false);

$("#form_id").hide();

         $("#snapshotToolButton").click(function() {
            if (snapshotTool.isVisible()) {

               // hide the snapshot tool, and change the button back
              snapshotTool.setVisible(false);
             $("#form_id").hide();
               $("#snapshotToolButton").val("Start a Conversation");
        }
            else {
               // show the snapshot tool and form
               snapshotTool.setVisible(true);
               $("#form_id").show();
               $("#snapshotToolButton").val("Cancel");
            }
         });
         
         $(".submitButton").click(function() {
            if (snapshotTool.isVisible()) {
             coords = snapshotTool.getToolBoundsInGigapanCoords();
             $('#comment_x_coord').val(coords.x);
             $('#comment_y_coord').val(coords.y);
             $('#comment_width').val(coords.width);
             $('#comment_height').val(coords.height);
               var valuesToSubmit = $('#form_id').serialize();
                 console.log(valueToSubmit);
  $.ajax({
    url: $('#form_id').attr('action'), //sumbits it to the given url of the form
    data: valuesToSubmit,
    dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
  }).success(function(json){
    //act on result.
  });
  return false;
        }
         });
         
         $("#snapshotAllButton").click(function() {
        if (isShowAllSnapshotsEnabled)
      {
      hideAllSnapshotRectangles();
      $("#snapshotAllButton").val("Show All Snapshots");
      }
   else
      {
      showAllSnapshotRectangles();
      $("#snapshotAllButton").val("Hide All Snapshots");
      }
   });
      // load the gigapan
         loadGigapan();
      });

      function loadGigapan() {
         // clear the viewer
         viewer.close();

         window.setTimeout(function() {

            // create the tile source
            var tileSource = new org.gigapan.seadragon.GigapanTileSource(
                  org.gigapan.GigapanUtils.createTileSourceUrlPrefixForGigapan(gigapan['id'], gigapan['authKey']),
                  gigapan['width'],
                  gigapan['height']
            );

            // tell the viewer to open the tile source
            viewer.openTileSource(tileSource);
         }, 1);
      }
function rect_from_snapshot_id(id)
{
   var gigapan_width = gigapan.width;
   var snapshot = snapshots[id];
   return new Seadragon.Rect(snapshot.x / gigapan_width, snapshot.y / gigapan_width, snapshot.width / gigapan_width, snapshot.height / gigapan_width);
}

function view_snapshot(n)
{
   var rect = rect_from_snapshot_id(n);

   // put some padding around where we are aiming the viewport
   var border = new Seadragon.Point(rect.width / 10, rect.height / 10);
   var aim_rect = new Seadragon.Rect(rect.x - border.x, rect.y - border.y, rect.width + 2 * border.x, rect.height + 2 * border.y);

   viewer.viewport.fitBounds(aim_rect);
   if (snapshot_tool.isVisible())
      snapshot_tool.setToolBoundsInGigapanCoords(rect);
}



function highlight_snapshot(id)
   {
   if (!isShowAllSnapshotsEnabled)
      {
      // see if we need to create the highlight for this snapshot
      if (!highlighters[id])
         {
         highlighters[id] = $('<div class="snapshot_highlight_box"></div>')[0];
         }

      viewer.drawer.addOverlay(highlighters[id], rect_from_snapshot_id(id));
      viewer.drawer.update(); // update everything before showing the box
      $(highlighters[id]).show();
      }
   }

function unhighlight_snapshot(id)
   {
   if (highlighters[id] && !isShowAllSnapshotsEnabled)
      {
      $(highlighters[id]).hide();
      viewer.drawer.removeOverlay(highlighters[id]);
      }
   }

function hideAllSnapshotRectangles()
   {
   isShowAllSnapshotsEnabled = false;


   $.each(highlighters,
          function(id)
             {
             unhighlight_snapshot(id);
             });
   }

function showAllSnapshotRectangles()
   {


   $.each(snapshots,
          function(id, snapshot)
             {
             highlight_snapshot(id)
             });

   isShowAllSnapshotsEnabled = true;
   }

<% end %>

<div id="gigapan_viewer"></div>

<input id="snapshotToolButton" type="button" value="Snapshot Tool">
<input id="snapshotAllButton" type="button" value="Show All Snapshots">

<%= form_for([@project_gigapan, @project_gigapan.comments.build], :html => {:id => "form_id"}) do |f| %>
  <div class="field">
    <%= f.label "Comment" %>
    <%= f.text_area :content, placeholder: "Comment" %>
  </div>
    <%= f.hidden_field :project_gigapan_id, :value => @project_gigapan.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :x_coord, :value =>0 %>
    <%= f.hidden_field :y_coord, :value =>0%>
    <%= f.hidden_field :width, :value =>0 %>
    <%= f.hidden_field :height, :value =>0 %>

  <div class="actions">
     <%= f.submit 'Submit', :class => "submitButton" %>
  </div>
  <%end%>

<a name="comments"></a>

<% @commentlist.each do |comment| %>

    <% if comment.parent_id.nil? %>
   <div class="comment" onmouseover="highlight_snapshot(<%=comment.id%>)" onmouseout="unhighlight_snapshot(<%=comment.id%>)" onclick="view_snapshot(<%=comment.id%>)">
        <% @name = comment.user.first_name.to_s() + " " + comment.user.last_name.to_s() %>
        <h4><%= link_to @name, comment.user %>
                <img class="flag <%=comment.user.organization.country.iso_code.downcase%>" src="/assets/blank.gif">
            says:
        </h4>
        <p><%= comment.content %></p>
        <%= time_ago_in_words(comment.created_at) %> ago from <%= link_to comment.user.organization.name, comment.user.organization %>
        
        </div>
<%= render :partial => 'comments/form', :locals => {:comment => comment} %>
        
        <% if comment.comments.count != 0 %>
            <% comment.comments.each do |comment| %>
                <%= render :partial => 'comment', :locals => {:comment => comment} %>
            <% end %>    
        <% end %>
    <% end %>
<% end %>











