<h3><%=@project_gigapan.name%></h3>
<p><%=@project_gigapan.desc%></p>

<%= javascript_tag do %>
      var SNAPSHOT_TOOL_CONFIG = {
         aspectRatio : 3 / 2,       // set this to null or undefined if you don't want to constrain the aspect ratio (default is null)
         useMask : true             // whether the mask should be applied (default is false)
      };
  var gigapan = {
         "id" : <%= @project_gigapan.ext_id%>,
         <% if @project_gigapan.authcode == "null"%>
         "authKey" : <%=@project_gigapan.authcode%>,
         <% else %>
         "authKey" : "<%=@project_gigapan.authcode%>",
         <%end%>
         "width" : <%=@project_gigapan.width%>,
         "height" : <%=@project_gigapan.height%>
      };

      var viewer = null;

      $(document).ready(function() {

         // configure Seadragon
         Seadragon.Config.imageLoaderLimit = 6;             // max number of concurrent image downloads
         Seadragon.Config.autoHideControls = true;         //show Seadragon's controls
         Seadragon.Config.imagePath = "/assets/img/";

         // create and initialize the viewer
         viewer = new Seadragon.Viewer("gigapan_viewer");
         viewer.setDashboardEnabled(false);

         // disable click to zoom
         viewer.tracker.clickHandler = null;

         // create the snapshot tool
         var snapshotTool = new org.gigapan.snapshot.SnapshotTool(viewer, SNAPSHOT_TOOL_CONFIG);
         snapshotTool.setGigapanDimensions(gigapan.width, gigapan.height);
         snapshotTool.setVisible(false);

         $("#snapshotToolButton").click(function() {
            if (snapshotTool.isVisible()) {

               // get the snapshot tool coordinates, and show the user
               var gigapanCoordsRect = snapshotTool.getToolBoundsInGigapanCoords();
               var seadragonCoordsRect = snapshotTool.getToolBoundsInSeadragonCoords();
               alert("Gigapan Coordinates:" +
                     "\n\n" +
                     gigapanCoordsRect.toString() +
                     "\n\n" +
                     "Seadragon Coordinates" +
                     "\n\n" +
                     seadragonCoordsRect.toString());                        //this is where you would get the snapshot cords to save

               // hide the snapshot tool, and change the button back
               snapshotTool.setVisible(false);
               $("#snapshotToolButton").val("Show Snapshot Tool");
            }
            else {
               // show the snapshot tool
               snapshotTool.setVisible(true);
               $("#snapshotToolButton").val("Take a Snapshot");
            }
         });

         // load the gigapan
         loadGigapan();
      });

      function loadGigapan() {
         // clear the viewer
         viewer.close();

         window.setTimeout(function() {

            // create the tile source
            var tileSource = new org.gigapan.seadragon.GigapanTileSource(
                  org.gigapan.GigapanUtils.createTileSourceUrlPrefixForGigapan(gigapan['id'], gigapan['authKey']),
                  gigapan['width'],
                  gigapan['height']
            );

            // tell the viewer to open the tile source
            viewer.openTileSource(tileSource);
         }, 1);
      }
<% end %>

<div id="gigapan_viewer"></div>

<input id="snapshotToolButton" type="button" value="Show Snapshot Tool">


<a name="comments"></a>
<% @project_gigapan.comments.each do |comment| %>

    <% if comment.parent_id.nil? %>
        <h4><%= comment.user.username %></h4>
        <p><%= comment.content %></p>
        <% if comment.comments.count != 0 %>
            <% comment.comments.each do |comment| %>
                <%= render :partial => 'comment', :locals => {:comment => comment} %>
            <% end %>       
        <% end %>
    <% end %>
    <!--to reply, an action has to be made that is tied to a button. -->
    <!--When the user hits this button, a new comment is made and its parent is set to the comment replied to-->
<% end %>


